.input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 14px;
	width: 190px;
	transition: all 0.5s ease-in-out;
	padding-left: 30px;

	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.6);
		width: 270px;
	}
}
