.app {
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	background-color: #e8e1e185;
	// background: url("./assets/img/getty_655998316_2000149920009280219_363765.jpg") no-repeat;
	background-color: rgba(216, 218, 219, 0.773);
}
